@font-face {
    font-family: fonte-titulo;
    src: url(Potato_sans-Black.otf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: lavender;
}

.header{
    background-color: plum;
    border-bottom: black solid 4px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .container .logo{
    width: 5%;
    padding-left: 1%;
}

.header .container .logo img {
    width: 100%;
}

.header .container .logo h1{
    font-size: 15px;
    font-family: fantasy;
    text-align: center;
    font-family: fonte-titulo;
}

.imagens {
    width: 25px;
}

.header .container ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.header .container li{
    display: flex;
    align-items: center;
    gap: 5px;
    text-shadow: 1px 1px 1px;
    
}

.header .container .cadastrar{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: darkorchid;
    font-weight: bolder;
    text-shadow: 1px 1px 1px;
}

.banner{
    border: solid green 5px;
    display: flex;
    justify-content: center;
}

.banner .container {
    display: flex;
    height: 670px;
    width: 900px;
    border: blue solid 5px;
    background-image: url(imagens/livro_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner .container span{
    display: flex;
    width: 395px;
    height: 500px;
    border: yellow solid 5px;
    align-items: center;
    justify-content: center;
    margin: 45px;
    }

