.banner_login .container_login2 .campos_login2 {
  width: 80%;
  height: 65%;
  margin-left: 10px;
  margin-top: 70px;
}

.sobrenome {
  border: solid 5px #e5dad8;
  border-radius: 20px;
  width: 17%;
  text-align: center;
  background-color: #e5dad8;
  font-weight: bolder;
}

.conf_senha {
  border: solid 5px #e5dad8;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  background-color: #e5dad8;
  font-weight: bolder;
}

.input2 {
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 4px;
  margin-block-end: 4px;
  padding: 5px;
}

.banner_login .container_login2 .campos_login2 .button2 {
  background-color: #e5dad8;
  cursor: pointer;
  width: 30%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 4px;
  padding-block-end: 4px;
  transition: background-color 0.3s;
}

.banner_login .container_login2 .campos_login2 .button2:hover {
  background-color: #b7a89c;
}


.banner_login .container_login2 .campos_login2 .botao2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.erro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  color: red;
  justify-content: center;
  font-weight: bolder;
  display: flex;
}