.tudo{
    border: solid 5px lawngreen;
    display: flex;
}

/* .tudo1{
    border: solid 5px navajowhite;
    display: flex;
} */

.container_menu {
    display: flex;
    border: solid 5px tan;
    width: 14%;
}

.container_menu .menu {
    width: 200px;
    background-color: plum;
    border: solid 5px firebrick;
    height: 100%
}   

.container_menu .menu .menu-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.container_menu .menu .menu-list li {
    padding: 10px;
    border-bottom: 1px solid black;
    padding-block-end: 20px;
}

.container_menu .menu .menu-list a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.container_dash {
    /* flex: 1;
    padding: 20px;
    width: 70%; */
    border: solid 5px firebrick;   
    width: 86%;

}

.container_dash h1{
    border: solid 5px gainsboro;
    text-align: center;
}

.tudo_metrica{
    /* border: solid 5px royalblue; */
    margin-left: 50px;
    margin-right: 50px;
}

.container_dash .classificacao{
    display: flex;
    text-align: center; 
}

.container_dash .classificacao2{
    display: flex;
    text-align: center; 
}

.classificacao_metrica{
    padding-top: 7px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
    background-color: white;
}

.classificacao_metrica_muito_ruim{
    background-color: rgba(146, 45, 146, 0.696);
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_ruim{
    background-color: palevioletred;
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_mediano{
    background-color: plum;
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_bom{
    background-color: pink;
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_muito_bom{
    background-color: #e5dad8;
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica2{
    background-color: white;
    border:  solid 3px black;
    padding-block-end: 5px;
    padding-top: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.colocar_baixo{
    /* border: solid 5px hotpink; */
    margin-top: 10px;
    margin-block-end: 10px;
}

/* .muito_ruim{
    background-color: black;
    border: solid 5px firebrick;
} */

h2{
    border: solid 5px lawngreen;
    text-align: center;
}

.banner2{
    border: solid 5px darkblue;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.tudo_metrica2{
    border: solid 5px royalblue;
    /* margin-left: 50px;
    margin-right: 50px; */
    width: 40%;
    /* margin-left: 55%; */
}

.kpi{
    border: solid 5px gray;
    display: flex;
    justify-content: space-evenly;
}

.imagem_placa{
    /* border: solid 5px magenta; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    background-color: plum;
    display: flex;
    width: 80%;
    /* justify-content: center;
    display: flex; */
    /* width: 50%;
    height: 50px; */
    /* height: 500px; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* margin-right: 50%; */
}

.kpi_texto{
    border: solid 3px black;
    text-align: center;
    width: 50%;
    /* width: 35%; */
}

.kpis{
    width: 50%;
    border: solid 5px tan;
}