* {
    overflow-x: hidden;
}

.tudo {
    display: flex;
}

.container_menu {
    display: flex;
    width: 14%;
    overflow-y: hidden;
}

.container_menu .menu {
    width: 200px;
    background-color: plum;
    height: 100%
}

.container_menu .menu .menu-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.container_menu .menu .menu-list li {
    padding: 10px;
    border-bottom: 1px solid black;
    padding-block-end: 20px;
}

.container_menu .menu .menu-list a {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.container_dash {
    width: 86%;

}

.container_dash h1 {
    text-align: center;
    margin-top: 10px;
}

.tudo_metrica {
    margin-left: 50px;
    margin-right: 50px;
}

.container_dash .classificacao {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
}

.container_dash .classificacao2 {
    display: flex;
    text-align: center;
}

.classificacao_metrica {
    display: flex;
    align-items: center;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
    background-color: plum;
}

.classificacao_metrica3 {
    padding-top: 8px;
    padding-block-end: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
    background-color: plum;
}

.classificacao_metrica_muito_ruim {
    background-color: rgba(146, 45, 146, 0.696);
    padding-top: 13px;
    padding-block-end: 5px;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_ruim {
    background-color: rgb(199, 83, 122);
    padding-top: 13px;
    padding-block-end: 5px;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_mediano {
    background-color: rgb(216, 140, 152);
    padding-top: 9px;
    padding-block-end: 5px;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_bom {
    background-color: rgb(226, 97, 196);
    padding-top: 13px;
    padding-block-end: 5px;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}


.classificacao_metrica_muito_bom {
    background-color: rgba(243, 75, 255, 0.822);
    padding-top: 13px;
    padding-block-end: 5px;
    border: solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica2 {
    background-color: plum;
    border: solid 3px black;
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.colocar_baixo {
    margin-top: 10px;
    margin-block-end: 10px;
}

h2 {
    text-align: center;
}

.banner2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.tudo_metrica2 {
    width: 40%;
}

.kpi {
    display: flex;
    justify-content: space-evenly;
}

.imagem_placa {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    background-color: plum;
    display: flex;
    width: 80%;
}

.kpi_texto {
    border: solid 3px black;
    text-align: center;
    width: 50%;
}

.kpis {
    width: 50%;
}

.grafico_pizza {
    width: 30%;
}

.mostrar {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
}

.mostrar .mostrar_dentro {
    border: solid 5px palevioletred;
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: white;
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.x {
    border: solid 5px khaki;
    position: absolute;
    top: -5px;
    font-weight: bolder;
    right: 5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: plum;
    color: black;
    font-size: 20px;
    cursor: pointer;

}

.mostrar .mostrar_entrar .inserir {
    cursor: pointer;
}

.mostrar.abrir {
    display: flex;
}

@keyframes abrir {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .mostrar_dentro {
    animation: abrir 0.5s;
}

.genero_mais_lido {
    margin-top: 7px;
}

.caracteristica {
    margin-top: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
}

.tabela_kpis {
    display: flex;
    font-weight: bolder;
    justify-content: center;
}

.tabela_kpis2 {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    cursor: pointer;
    background-color: plum;
    font-weight: bolder;
    border-radius: 10px;
    padding: 3px;
    margin-top: 10px;
}

.relembrar {
    display: flex;
    justify-content: center;
}

.grafico_genero {
    width: 30%;
}

.inserir_livro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 100%;
}

.pergunta_principal {
    margin-left: 10%;
    width: 100%;
    text-align: center;
}

.pergunta_principal2 {
    margin-left: 30%;
    width: 100%;
    text-align: center;
}

.botao_registrar {
    display: flex;
    justify-content: center;
}

.input_livros {
    border-radius: 20px;
    margin-left: 10px;
    width: 43%;
    margin-top: 4px;
    margin-block-end: 4px;
    padding: 5px;
}

.input_livros2 {
    border-radius: 20px;
    margin-left: 10px;
    width: 23%;
    margin-top: 4px;
    margin-block-end: 4px;
    padding: 5px;
}

a {
    text-align: center;
    width: 100%;
}

.relembrar2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 22%;
}