*{
overflow-x: hidden;    
}

.tudo{
    border: solid 5px lawngreen;
    display: flex;
}

/* .tudo1{
    border: solid 5px navajowhite;
    display: flex;
} */

.container_menu {
    display: flex;
    border: solid 5px tan;
    width: 14%;
    overflow-y: hidden;
}

.container_menu .menu {
    width: 200px;
    background-color: plum;
    border: solid 5px firebrick;
    height: 100%
}   

.container_menu .menu .menu-list {
    list-style: none;
    padding: 0;
    display: inline;
}

.container_menu .menu .menu-list li {
    padding: 10px;
    border-bottom: 1px solid black;
    padding-block-end: 20px;
}

.container_menu .menu .menu-list a {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.container_dash {
    /* flex: 1;
    padding: 20px;
    width: 70%; */
    border: solid 5px firebrick;   
    width: 86%;

}

.container_dash h1{
    border: solid 5px gainsboro;
    text-align: center;
    margin-top: 10px;
}

.tudo_metrica{
    border: solid 5px royalblue;
     margin-left: 50px; 
     margin-right: 50px;
} 

.container_dash .classificacao{
    display: flex;
    border: solid 5px gold;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center; 
}

.container_dash .classificacao2{
    border: solid 5px green;
    display: flex;
    text-align: center; 
}

.classificacao_metrica{
    padding-top: 7px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
    background-color: plum;
}

.classificacao_metrica_muito_ruim{
    background-color: rgba(146, 45, 146, 0.696);
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_ruim{
    background-color: palevioletred;
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_mediano{
   background-color: rgb(241, 135, 152);
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica_bom{
    background-color: rgb(226, 97, 196);
    padding-top: 5px;
    padding-block-end: 5px;
    border:  solid 3px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.classificacao_metrica2{
    background-color: plum;
    border:  solid 3px black;
    padding-block-end: 5px;
    padding-top: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    width: 20%;
}

.colocar_baixo{
    /* border: solid 5px hotpink; */
    margin-top: 10px;
    margin-block-end: 10px;
}

/* .muito_ruim{
    background-color: black;
    border: solid 5px firebrick;
} */

h2{
    border: solid 5px lawngreen;
    text-align: center;
}

.banner2{
    border: solid 5px darkblue;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.tudo_metrica2{
    border: solid 5px royalblue;
    /* margin-left: 50px;
    margin-right: 50px; */
    width: 40%;
    /* margin-left: 55%; */
}

.kpi{
    border: solid 5px gray;
    display: flex;
    justify-content: space-evenly;
}

.imagem_placa{
    /* border: solid 5px magenta; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    background-color: plum;
    display: flex;
    width: 80%;
    /* justify-content: center;
    display: flex; */
    /* width: 50%;
    height: 50px; */
    /* height: 500px; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* margin-right: 50%; */
}

.kpi_texto{
    border: solid 3px black;
    text-align: center;
    width: 50%;
    /* width: 35%; */
}

.kpis{
    width: 50%;
    border: solid 5px tan;
}

.grafico_pizza{
    border: solid 5px khaki;
    width: 50%;
}

.mostrar{
    border: solid 5px hotpink;
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
}

.mostrar .mostrar_dentro{
    border: solid 5px firebrick;
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(200, 230, 180, 0.300);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.x{
    border: solid 5px khaki;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: aquamarine;
    color: blue;
    font-size: 20px;
    cursor: pointer;

}

.mostrar .mostrar_entrar .inserir {
    cursor: pointer;
}

.mostrar.abrir{
    display: flex;
}

@keyframes abrir{
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }

    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir .mostrar_dentro{
animation: abrir 0.5s;
}

.genero_mais_lido{
    margin-top: 7px;
}

.caracteristica{
    border: solid 5px teal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: center;
}

.tabela_kpis{
    border: solid 5px forestgreen;
    display: flex;
    font-weight: bolder;
    justify-content: center;
}

.tabela_kpis2{
    border: solid 5px forestgreen;
    display: flex;
    justify-content: center;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    cursor: pointer;
    background-color: plum;
    font-weight: bolder;
    border-radius: 10px;
    padding: 3px;
    margin-top: 10px;
}

.relembrar{
    display: flex;
    justify-content: center;
}

.grafico_genero{
    border: solid 5px rebeccapurple;
    width: 30%;
}