input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    padding: 0px 30px 0px 30px;
}

.home_login {
    border-radius: 15px;
    border: solid 3px black;
    padding-top: 5px;
    padding-block-end: 5px;
    padding-left: 20px;
    width: 7%;
    margin-right: 1100px;
}

.banner_login {
    padding-top: 100px;
    border: solid 5px hotpink;
    display: flex;
    justify-content: center;
}

.banner_login .container_login2 {
    width: 55%;
    background-repeat: no-repeat;
    height: 730px;
    border: solid 5px gold;
    justify-content: center;
    display: flex;
    align-items: center;
}

.banner_login .container_login2 .campos_login {
    border: solid 5px olive;
    width: 60%;
    height: 300px;
}

.banner_login .container_login2 .campos_login .botao {
    border: solid 5px green;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.email {
    border: solid 5px #e5dad8;
    border-radius: 20px;
    width: 12%;
    text-align: center;
    background-color: #e5dad8;
    font-weight: bolder;
}

.login_email {
    border: solid 5px hotpink;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.input {
    border: solid 0.5px black;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 4px;
    margin-block-end: 4px;
    padding: 5px;
}

.emails {
    border: solid 5px firebrick;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #e5dad8;
    cursor: pointer;
    width: 23%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 4px;
    padding-block-end: 4px;
    transition: background-color 0.3s;
  }
  
   .button:hover {
    background-color: #b7a89c; 
  }